<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<header>
		<h1>Inventory Management System</h1>
	</header>
	<hr>
		<a href="{% url 'home' %}">Home</a> |
		{% if user.is_authenticated%}
			<a href="{% url 'secret' %}">Secret Page</a> |
			<a href="{% url 'secret2' %}">Class Based Secret Page</a> |
			<a href="{% url 'password_change' %}">Change Password</a> |
			<a href="{% url 'logout' %}">Logout</a> |
			<strong>You are logged in as {{ user.username }}</strong>
		{% else %}
			<a href="{% url 'login' %}">LogIn</a> |
			<a href="{% url 'signup' %}">SignUp</a> |
		{% endif %}
		
	<hr>
	{% block content %}
	{% endblock %}
</body>
</html>